{% extends "homepage/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <center><h2><a class="article-title">Pierwsza Strona Postawiona na Heroku</a></h2></center>
    </div>
  </article>
<article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title">Prace Domowe</a></h2>
      <p class="article-content">Na tej stronie będą wysyłane wszystkie przyszłe prace domowe.</p>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title">Dummy Title</a></h2>
      <p class="article-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie augue purus,
           et auctor sem porttitor a. Nunc tincidunt consequat neque sed euismod. Aliquam imperdiet malesuada neque et
            interdum. Maecenas rutrum commodo vestibulum. Sed porttitor nisl in maximus tempor. Aenean quis convallis quam,
             eu tempus augue. Aliquam at urna lacus. Praesent convallis augue non turpis dignissim, eu consequat eros accumsan.
             iam quis orci nec velit vulputate euismod eget at nibh. Vestibulum sed sem vel augue imperdiet bibendum a nec quam.
              Phasellus eleifend a eros vehicula iaculis. Donec vehicula, lacus vel gravida tincidunt,
           augue ipsum posuere erat, ut aliquet est orci at ex. Maecenas quis posuere ex.
        Mauris tincidunt risus in ipsum eleifend, sit amet accumsan lorem sollicitudin. 
        Mauris aliquam tellus aliquam est vulputate, id euismod magna suscipit. 
        Maecenas convallis molestie molestie. Ut in ultricies erat. In tincidunt varius risus,
         eget luctus purus semper a. Quisque at odio orci. Mauris quis posuere lorem. Curabitur maximus condimentum 
         magna ut luctus. In a eleifend odio, in porttitor odio. Suspendisse tellus magna, sagittis at erat mattis,
          placerat fermentum nisl. Suspendisse sollicitudin erat eget eros accumsan aliquet. </p>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title">Dummy Title</a></h2>
      <p class="article-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla molestie augue purus,
           et auctor sem porttitor a. Nunc tincidunt consequat neque sed euismod. Aliquam imperdiet malesuada neque et
            interdum. Maecenas rutrum commodo vestibulum. Sed porttitor nisl in maximus tempor. Aenean quis convallis quam,
             eu tempus augue. Aliquam at urna lacus. Praesent convallis augue non turpis dignissim, eu consequat eros accumsan.
             iam quis orci nec velit vulputate euismod eget at nibh. Vestibulum sed sem vel augue imperdiet bibendum a nec quam.
              Phasellus eleifend a eros vehicula iaculis. Donec vehicula, lacus vel gravida tincidunt,
           augue ipsum posuere erat, ut aliquet est orci at ex. Maecenas quis posuere ex.
        Mauris tincidunt risus in ipsum eleifend, sit amet accumsan lorem sollicitudin. 
        Mauris aliquam tellus aliquam est vulputate, id euismod magna suscipit. 
        Maecenas convallis molestie molestie. Ut in ultricies erat. In tincidunt varius risus,
         eget luctus purus semper a. Quisque at odio orci. Mauris quis posuere lorem. Curabitur maximus condimentum 
         magna ut luctus. In a eleifend odio, in porttitor odio. Suspendisse tellus magna, sagittis at erat mattis,
          placerat fermentum nisl. Suspendisse sollicitudin erat eget eros accumsan aliquet. </p>
    </div>
  </article>
{% endblock %}