{% extends "homepage/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <center><h2 class="pad_top_title"><a class="article-title">Pierwsza Strona Postawiona na Heroku</a></h2></center>
    </div>
  </article>
<article class="media content-section">
    <div class="media-body">
      <h2 class="pad_top_title"><a class="article-title">Prace Domowe</a></h2>
      <p class="article-content">Na tej stronie będą wysyłane moje wszystkie przyszłe prace.</p>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <h2 class="pad_top_title"><a class="article-title">Odległość Hamminga</a></h2>
      <p class="article-content"> Próba napisania programu określającego odległość zdań i plików tekstowych względem zawartości od siebie w pythonie. Na początek próba jednowątkowego, a jeżeli się uda ukończyć,to zmiany na wielowątkowe. Na ten moment przerwane, z powodu braku pomysłu jak pociągnąć i napotkanego błędu
         </p>
         <ul class="list">
          <li class="list2"><a class="nav-item nav-link" href="#" style='color:grey'>Link do pdf</a></li>
        <li class="list2"><a class="nav-item nav-link" href="https://github.com/ShiroTsuma-github/PYTHON/tree/master/odleglosc_hamminga">Link do kodu</a></li>
        <li class="list2"><a class="nav-item nav-link"style='color:red;' >Chwilowa przerwa</a>
      </ul>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <h2 class="pad_top_title"><a class="article-title">Prace wykonywane na hackerrank</a></h2>
      <p class="article-content"> Moje podejście do problemów z wyzwań Hackerrank
         </p>
         <ul class="list">
          <li class="list2"><a class="nav-item nav-link" href="#" style='color:grey'>Link do pdf</a></li>
        <li class="list2"><a class="nav-item nav-link" href="https://github.com/ShiroTsuma-github/PYTHON/tree/master/Hackerrank">Link do kodu</a></li>
        <li class="list2"><a class="nav-item nav-link"style='color:yellow;' >Kiedyś zrobię wszystkie</a>
      </ul>
    </div>
  </article>

{% endblock %}