{% extends "homepage/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title">Automat z napojami</a></h2>
      <p class="article-content">Automat napisany w pythonie. Nie jest w pełni zgodny z wymogami,ale wydaje mi się,
          że przejdzie, bo poza tym ma dodatkowe funkcje. Zapisuje w pliku,ponieważ nie ma sensu zapisywać jego operacje w bazie danych.
          W razie uwag kontaktować się na email z [Dane kontaktowe].
      </p>
      <p>
      <a class="nav-item nav-link" href="https://github.com/ShiroTsuma-github/PYTHON/tree/master/maszyna">Link do kodu</a>
    </p>
    </div>
  </article>
{%endblock%} 