body{
    background-color: rgba(0, 0, 0, 0.774);
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    margin-top: 50px;
  }
  
  .vertical-menu a {
    background-color: rgba(153, 153, 153, 0.781); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color:rgba(20, 20, 20, 0.781);
    color: rgba(153, 153, 153, 0.781);
  }
  
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(153, 153, 153, 0.781);
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color:rgba(153, 153, 153, 0.781);
  }
  .content-section {
    background: #3a3737cc;
    padding: 10px 20px;
    border: 1px solid #3b3b3ba9;
    border-radius: 3px;
    margin-bottom: 20px;
  }