body {
  background: #000000df;
  color: #c400e6bc;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #9c07b6ca;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #70007a;
}

.site-header .navbar-nav .nav-link {
  color: #9012ca77;
}

.site-header {
  color: #da0bffb2;
}
.navbar-nav .nav-link:hover {
  color: #ffffffb2;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #3a3737cc;
  padding: 10px 20px;
  border: 1px solid #3b3b3ba9;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #8505fdde;
}

a.article-title:hover {
  color: #ffffffbc;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #dbdbdbb9
}

.article-metadata a:hover {
  color: rgba(218, 216, 216, 0.726);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


.account-heading {
  font-size: 2.5rem;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(32, 32, 32, 0.781);
}

.list2 {
  float: left;
}
.test{
  font-size: 4rem;
}
.not-completed{
  color: yellow;
}
.completed{
  color: green !important;
}
.dropped-off{
  color: red;
}